body {
    background-color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 60px;
}

.navbar {
    padding: 10px 0;
    text-align: center;
}

.navbar .btn {
    font-size: 16px;
    margin: 10px;
}

.left-column, .right-column {
    background-color: #343a40;
    color: #fff;
    height: 100%;
    padding: 20px;
    margin-top: 5px;
}

.settings-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    font-size: 14px;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    font-size: 16px;
}
